@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Megrim');


body {
background-color: #0f0f0f;
}


  .navmenu {
    display: grid;
    grid-template-columns: 4em auto 4em;
    grid-template-areas:   "logo  title  btn";
    padding: 0.5em;
    grid-column-gap: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: #231F20;
    z-index: 2;
    border-bottom: 0.1em;
    border-style: ridge;
    border-color: #C2B59B;
}



.logo {
padding: 10px;
}
.title {
  font-size: 2em;
  font-family: megrim;
  color: white;
  line-height: 1;
  align-self: center;
  justify-self: center;
  grid-area: title;
}
.btn {
  border: 0;
  grid-area: btn;
  background-color: #231F20;
  padding-right:
}

.btn:hover{
  background-color:white;
}


.items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  padding-top: 6em;
  padding-left: 0em;
  padding-right: 0em;
  padding-bottom: 8em;
  text-align: center;
}

.itemarea{
  background-color: #231F20;
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 1em;
  border-style: groove;
  border-color: #C2B59B;
}

.itemname  {
  text-decoration: none;
  display: block;
  background-color: #0f0f0f;
  font: 1.5em helvetica;
  opacity: .6;
  position: relative;
  padding: 10px;
  margin: 10px;
  color: #C2B59B;
  font-family: megrim;
}

.price{
  color: #C2B59B;
  font-family: Rajdhani;
}


.itemname:hover{
  color:white;
  background-color: #C2B59B;
}


.itemname:focus{
  background-color: white;
  color: black;
}

.itemarea:focus {
  background-color: #C2B59B;
}

.addorder{
  position: fixed;
  text-align:center;
  padding: 1.5em;
  background-color: #0f0f0f;
  z-index: 3;
  top: 89%;
  width: 100%;
  border-top: 0.1em;
  border-style: ridge;
  border-color: #C2B59B;
}

.addbutton{
  padding-left:1.6em;
  padding-right:1.6em;
  padding-top: 0.7em;
  padding-bottom:0.7em;
  border-radius: 2em;
  background-color: #ba963d;
  border-width: thick;
  font-family: Rajdhani;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.info {
  font-family: Rajdhani;
  color:#C2B59B;
}

@media screen and (min-width: 640px) {

.itemname{
  background: none;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  grid-column-start: 2;
  z-index: 1;

}


.price{
  grid-column-start: 2;
  position: absolute;
  left: 68%;
  padding-top: 3.4em;
}


.itemname:hover{
  color: #C2B59B;
  background: white;
  padding: 0;
  margin: 0;
}

.itemname:focus{
  background: #C2B59B;
  color: black;

}

.itemarea:focus {
  background: none;
}

.itemarea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.info {
  grid-column-start: 2;
  left: 47%;
  padding: 1em;
  padding-top: 5em;
  position: absolute;
}
